<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [4]:
from bs4 import BeautifulSoup

In [2]:
# Your code here
import html5lib
import requests

Download the webpage at the url

In [3]:
#your code goes here
response = requests.get(url)

Create a soup object

In [6]:
#your code goes here
soup = BeautifulSoup(response.text,"html.parser")

Scrape the `Language name` and `annual average salary`.

In [9]:
table = soup.find("tbody")

In [15]:
tds = []
for tr in table.find_all("tr"):
    tds.append([td.string for td in tr.find_all("td")])

In [17]:
import numpy as np

In [18]:
tds = np.array(tds)

In [23]:
tds = np.column_stack(tds)
tds

array([['No.', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
       ['Language', 'Python', 'Java', 'R', 'Javascript', 'Swift', 'C++',
        'C#', 'PHP', 'SQL', 'Go'],
       ['Created By', 'Guido van Rossum', 'James Gosling',
        'Robert Gentleman, Ross Ihaka', 'Netscape', 'Apple',
        'Bjarne Stroustrup', 'Microsoft', 'Rasmus Lerdorf',
        'Donald D. Chamberlin, Raymond F. Boyce.',
        'Robert Griesemer, Ken Thompson, Rob Pike.'],
       ['Average Annual Salary', '$114,383', '$101,013', '$92,037',
        '$110,981', '$130,801', '$113,865', '$88,726', '$84,727',
        '$84,793', '$94,082'],
       ['Learning Difficulty', 'Easy', 'Easy', 'Hard', 'Easy', 'Easy',
        'Hard', 'Hard', 'Easy', 'Easy', 'Difficult']], dtype='<U41')

In [25]:
import pandas as pd

In [26]:
languages_dict = {}
languages_dict["No"] = tds[0][1:]
languages_dict["Language"] = tds[1][1:]
languages_dict["Created By"] = tds[2][1:]
languages_dict["Average Annual Salary"] = tds[3][1:]
languages_dict["Learning Difficulty"] = tds[4][1:]
languages_df = pd.DataFrame(languages_dict)

Save the scrapped data into a file named *popular-languages.csv*

In [27]:
# your code goes here
languages_df.to_csv("popular-languages.csv")

In [29]:
languages_df.sort_values("Average Annual Salary")

,No,Language,Created By,Average Annual Salary,Learning Difficulty
1,2,Java,James Gosling,"$101,013",Easy
3,4,Javascript,Netscape,"$110,981",Easy
5,6,C++,Bjarne Stroustrup,"$113,865",Hard
0,1,Python,Guido van Rossum,"$114,383",Easy
4,5,Swift,Apple,"$130,801",Easy
7,8,PHP,Rasmus Lerdorf,"$84,727",Easy
8,9,SQL,"Donald D. Chamberlin, Raymond F. Boyce.","$84,793",Easy
6,7,C#,Microsoft,"$88,726",Hard
2,3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
9,10,Go,"Robert Griesemer, Ken Thompson, Rob Pike.","$94,082",Difficult

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).